{% extends 'base.html' %}
{% block content %}
<!-- 네비게이션바 -->
{% include "navbar-process.html" %}
<!-- MAIN -->
<!-- <div class="d-grid gap-2 d-md-flex justify-content-center">
    <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelect" aria-expanded="false" aria-controls="collapseSelect">검색</button>
</div> -->
<!-- 검색 -->
<div class="collapse show"  id="collapseSelect" style="font-size: 12px;">
    <div class="card card-body bg-light mb-0 pb-0">
        <h6>검색란</h6>
        <a>- 잡 리스트에 따른 서버 통합관리 및 on/off 스위치를 제어하는 페이지입니다.
            (등록된 총 Job의 갯수 : <span class="badge text-bg-secondary">{{ job_count }}</span>)
        </a>

        <table class="table table-sm text-center mb-0 pb-0" style="table-layout: fixed">
            <form class="form-inline" onsubmit="return false;" name="SelectForm">
                {% csrf_token %}
                <tr class="">
                    <td><input class="form-control form-control-sm" id="s_job_name" name="s_job_name" placeholder="잡명"></td>
                </tr>
                <tr class="">
                    <td><button class="btn btn-secondary btn-sm" id="search">검색</button></td>
                </tr>
            </form>
        </table>
    </div>   
</div>

<!-- left ajax -->
<div id="left_ajax" style="width: 250px; position: absolute; float: left; top: 240px; bottom: 15px; overflow-y: auto; z-index: 2;"></div>
<!-- right ajax -->
<div id="right_ajax" style="float: right; position: absolute; top: 240px; bottom: 15px; right: 0px; left: 250px; z-index: 1; overflow-y: auto; padding-left: 15px;"></div>


<!-- left ajax script -->
<script>
    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');

    $('#search').click(function(){
        call_left_ajax();
    });

    $('#left_ajax').load('dummy',function(){
        call_left_ajax();
    });

    function call_left_ajax() {
        var s_job_name = $("#s_job_name").val();

        $.ajax( {
            type : 'POST',
            url: "{% url 'process_check:server_job_list_left_ajax' %}",
            data: {
                'csrfmiddlewaretoken': token,
                's_job_name': s_job_name,
            },
            success: call_more_left_ajax,
            dataType: 'html'
        });
    }

    function call_more_left_ajax(data, textStatus, jqXHR) {
        $('#left_ajax').html(data);
    }

</script>
{% endblock %}
