<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
    
<!-- ajax 추가 부분 -->
<hr>검색결과 ⁝ <span class="badge text-bg-secondary">{{ total_count }}</span>
<table class="table table-bordered table-sm table-hover">
    <tr class="bg-secondary text-white">
        <th style="width: 1%;" class="check-all rounded-left tmp_bg-light table-borderless">
            <input type="checkbox" id="checkbox_all" name="checkbox_all" class="check-all">
        </th>
        <th style="width: 3%;">ID</th>
        <th style="width: 3%;">DB종류</th>
        <th style="width: 3%;">DB환경</th>
        <th style="width: 5%;">서비스명</th>
        <th style="width: 15%;">서버명</th>
        <th style="width: 3%;">DB버전</th>
        <th style="width: 6%;">용도</th>
        <th style="width: 3%;">사설IP</th>
        <th style="width: 3%;">공용IP</th>
        <th style="width: 3%;">가상IP</th>
        <th style="width: 3%;">포트</th>
        <th style="width: 3%;">분류</th>
        <th style="width: 3%;">담당자1</th>
        <th style="width: 3%;">담당자2</th>
        <th style="width: 3%;">감사</th>
        <th style="width: 13%;">삭제이유</th>
        <th style="width: 3%;">삭제비고</th>
        <th style="width: 13%;">생성일</th>
        <th style="width: 13%;">변경일</th>
        <th style="width: 5%;" class="rounded-right">URL</th>
    </tr>

{% if server_list %}
    {% for server in server_list %}
    <tr>
        <td>
            <input type="checkbox" id="checkbox" name="checkbox" class="check" value="{{ server.id }}">
            <!-- 체크박스 전체선택/해제하기 -->
            <script>
                $(document).ready(function(){
                    $('.check-all').click(function(){
                        $('.check').prop('checked', this.checked);
                    });
                });
            </script>
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal" 
            data-id="{{ server.id }}"
            data-server_created_at="{{ server.created_at|date:'Y-m-d H:i:s' }}"
            data-server_updated_at="{{ server.updated_at|date:'Y-m-d H:i:s' }}"
            data-server_dbtype="{{ server.dbtype }}"
            data-server_dbenv="{{ server.dbenv }}"
            data-server_dbservice="{{ server.dbservice }}"
            data-server_dbsvr="{{ server.dbsvr }}"
            data-server_dbver="{{ server.dbver }}"
            data-server_usg="{{ server.usg }}"
            data-server_pri_ip="{{ server.pri_ip }}"
            data-server_pub_ip="{{ server.pub_ip }}"
            data-server_vip="{{ server.vip }}"
            data-server_port1="{{ server.port1 }}"
            data-server_priority="{{ server.priority }}"
            data-server_manager1="{{ server.manager1 }}"
            data-server_manager2="{{ server.manager2 }}"
            data-server_audit_yn="{{ server.audit_yn }}"
            data-server_url="{{ server.url }}"
            data-server_delete_yn="{{ server.delete_yn }}"
            data-server_deleted_at="{{ server.deleted_at|date:'Y-m-d H:i:s' }}"
            data-server_delete_reason="{{ server.delete_reason }}"
            data-server_delete_note="{{ server.delete_note }}">
            {{ server.id }}
        </td>
        <td>{{ server.dbtype }}</td>
        <td>{{ server.dbenv }}</td>
        <td>{{ server.dbservice }}</td>
        <td>{{ server.dbsvr }}</td>
        <td>{{ server.dbver }}</td>
        <td>{{ server.usg }}</td>
        <td>{{ server.pri_ip }}</td>
        <td>{{ server.pub_ip }}</td>
        <td>{{ server.vip }}</td>
        <td>{{ server.port1 }}</td>
        <td>{{ server.priority }}</td>
        <td>{{ server.manager1 }}</td>
        <td>{{ server.manager2 }}</td>
        <td>{{ server.audit_yn }}</td>
        <td>{{ server.delete_reason }}</td>
        <td>{{ server.delete_note }}</td>
        <td>{{ server.created_at|date:'Y-m-d H:i:s' }}</td>
        <td>{{ server.updated_at|date:'Y-m-d H:i:s' }}</td>
        <td style = "cursor:pointer;" id="{{ server.url }}" name="{{ server.url }}" data-bs-toggle="server_url" data-placement="right" title="URL 이동" onClick="window.open('https://kakaovx.atlassian.net/browse/{{ server.url}}')">
            {{ server.url }}
        </td>
        <script>
            $(function () {
                $('[data-bs-toggle="delete_note"]').tooltip()
                $('[data-bs-toggle="url"]').tooltip()
            })
        </script>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div>
    {% if page_max is none %}
    <input id="page_max" name="page_max" type="hidden" value="1">
    {% else %}
    <input id="page_max" name="page_max" type="hidden" value="{{ page_max }}">
    {% endif %}
</div>

</body>
</html>