{% extends 'base.html' %}
{% block content %}
<!-- 네비게이션바 -->
{% include "navbar-server.html" %}
<!-- MAIN -->
<div class="d-grid gap-2 d-md-flex justify-content-center">
    <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelect" aria-expanded="false" aria-controls="collapseSelect">서버 검색</button>
    <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInsert" aria-expanded="false" aria-controls="collapseInsert">서버 입력</button>
    <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUpdateMulti" aria-expanded="false" aria-controls="collapseUpdateMulti">서버 수정/삭제</button>
</div>

{% endblock %}