{% extends 'base.html' %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">

    <h6 class="border-bottom border-gray pb-2 mb-0">최근 업데이트 / 공지사항</h6>

    <div class="media text-muted pt-3">
        DBA 포탈 사이트에 오신걸 환영합니다.<br>
        본 사이트의 목적은 DBA 업무 감소를 위한 DBA 업무 자동화입니다.<br>
        현재 개발이 진행중이며 기능 아이디어는 언제든 환영합니다.<br>
    </div>

    <small class="d-block text-right mt-3">
        개발 완료된 기능은 로그인, 서버관리, 계정관리, 메모장입니다.<br>
    </small>

</div>

<button id="search" class="btn btn-outline-primary btn-sm">비동기 테스트 버튼(콘솔 로그 발생)</button>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">유용한 업무 URL</h6>
    <div class="media text-muted pt-3">
        MySQL 공식 문서: <a>https://dev.mysql.com/doc/refman/8.0/en/</a><br>
        ...<br>
    </div>
</div>
<script>

    $('#search').click(function(){
        console.log("비동기 테스트 버튼 로그 " + Date.now());
    });
</script>

{% endblock %}