{% extends 'base.html' %}
{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">

    <h6 class="border-bottom border-gray pb-2 mb-0">최근 업데이트 / 공지사항</h6>

    <div class="media text-muted pt-3">
        카카오VX DBA 포탈 사이트에 오신걸 환영합니다.<br>
        현재 개발이 진행중입니다. 
    </div>

    <small class="d-block text-right mt-3">
        개발 완료된 기능은 로그인/계정관리입니다.<br>
        개발 진행중 기능은 서버관리입니다.<br>
    </small>

</div>

<button id="search" class="btn btn-outline-primary btn-sm">비동기 테스트 버튼(콘솔 로그 발생)</button>

<script>

    $('#search').click(function(){
        console.log("비동기 테스트 버튼 로그 " + Date.now());
    });
</script>

{% endblock %}