<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
    
<!-- ajax 추가 부분 -->

<hr><< 총 ⁝ <span class="badge text-bg-secondary">{{ total_count }}</span> 건의 데이터 >>
<table class="table table-bordered table-sm table-hover">
    <tr class="bg-secondary text-white">
        <th style="width: 1%;" class="check-all rounded-left tmp_bg-light table-borderless">
            <input type="checkbox" id="checkbox_all" name="checkbox_all" class="check-all">
        </th>
        <th>ID</th>
        <th>삭제일</th>
        <th>삭제사유</th>
        <th>삭제URL</th>
        <th>요청자</th>
        <th>요청팀</th>
        <th>서버</th>
        <th>아이디</th>
        <th>호스트</th>
        <th>권한</th>
        <th>DB</th>
        <th>TABLE</th>
        <th class="rounded-right">URL</th>
    </tr>
    {% if account_list %}
        {% for account in account_list %}

        <tr>
            <td style="width: 1%;">
                <input type="checkbox" id="checkbox" name="checkbox" class="check" value="{{ account.id }}">
                <!-- 체크박스 전체선택/해제하기 -->
                <script>
                    $(document).ready(function(){
                        $('.check-all').click(function(){
                        $('.check').prop('checked', this.checked);
                    });
                });
                </script>
            </td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 3%; cursor:pointer;">
            {{ account.id }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 7%; cursor:pointer;">
            {{ account.account_del_dt|date:'Y/m/d H:i:s' }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 18%; cursor:pointer;">
            {{ account.account_del_reason }}</td>
            <td style="cursor:pointer; width: 7%;" id="{{ account.account_del_note }}" name="{{ account.account_del_note }}" data-bs-toggle="account_del_note" data-placement="right" title="URL 이동" onClick="window.open('https://kakaovx.agit.in/g/300065103/wall/{{ account.account_del_note }}')">
                {{ account.account_del_note }}
            </td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 5%; cursor:pointer;">
            {{ account.account_requestor }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 6%; cursor:pointer;">
            {{ account.account_devteam }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 7%; cursor:pointer;">
            {{ account.account_svr }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 8%; cursor:pointer;">
            {{ account.account_user }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 7%; cursor:pointer;">
            {{ account.account_host }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 13%; cursor:pointer;">
            {% if account.account_grant|length <= 35 %}
                {{ account.account_grant }}
            {% else %}
                {{ account.account_grant| slice:":35"| add:"..." }}
            {% endif %}
            </td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 6%; cursor:pointer;">
            {{ account.account_db }}</td>
            <td data-toggle="modal" data-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note}}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}" style = "width: 7%; cursor:pointer;">
            {{ account.account_table }}</td>
            <td style="cursor:pointer; width: 10%;" id="{{ account.account_url }}" name="{{ account.account_url }}" data-bs-toggle="account_url" data-placement="right" title="URL 이동" onClick="window.open('https://kakaovx.agit.in/g/300065103/wall/{{ account.account_url}}')">
                {{ account.account_url }}
            </td>
            <script>
                $(function () {
                    $('[data-toggle="account_del_note"]').tooltip()
                    $('[data-toggle="account_url"]').tooltip()
                })
            </script>
        </tr>
    {% endfor %}
</table>
{% endif %}

<div>
    {% if page_max is none %}
    <input id="page_max" name="page_max" type="hidden" value="1">
    {% else %}
    <input id="page_max" name="page_max" type="hidden" value="{{ page_max }}">
    {% endif %}
</div>

<input class="form-control form-control-sm" id="alert_type" name="alert_type" value="{{ alert_type }}" type="hidden">

</body>
</html>