<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<body>
    
<!-- ajax 추가 부분 -->
<hr>
<!-- alert_type에 따른 에러뿌리기 -->
{% if alert_type != "ERR_0" %}
<table>
    <tr>
        <td>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alertbox" name="alertbox">
            <h6 class="alert-danger">{{ alert_type }} - 작업에 실패했습니다.</h6>
            <a style="white-space:pre;">{{ alert_message }}</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </td>
    </tr>
</table>
{% endif %}

<< 총 ⁝ <span class="badge text-bg-secondary">{{ total_count }}</span> 건의 데이터 >>
<table class="table table-bordered table-sm table-hover">
    <tr class="bg-dark text-white">
        <th style="width: 1%;" class="check-all rounded-left tmp_bg-light table-borderless">
            <input type="checkbox" id="checkbox_all" name="checkbox_all" class="check-all">
        </th>
        <th style="width: 3%;">ID</th>
        <th style="width: 7%;">생성일</th>
        <th style="width: 5%;">요청자</th>
        <th style="width: 8%;">요청팀</th>
        <th style="width: 7%;">서버</th>
        <th style="width: 8%;">아이디</th>
        <th style="width: 6%;">호스트</th>
        <th style="width: 18%;">권한</th>
        <th style="width: 8%;">DB</th>
        <th style="width: 8%;">TABLE</th>
        <th style="width: 5%;" class="rounded-right">URL</th>
    </tr>

{% if account_list %}
    {% for account in account_list %}

    {% if account.account_update_dt|date:'Y/m/d H:i:s' == last_modify_dt %}
    <tr style="background-color: #FFDEAD">
    {% else %}
    <tr>
    {% endif %}

        <td>
            <input type="checkbox" id="checkbox" name="checkbox" class="check" value="{{ account.id }}">
            <!-- 체크박스 전체선택/해제하기 -->
            <script>
                $(document).ready(function(){
                    $('.check-all').click(function(){
                        $('.check').prop('checked', this.checked);
                    });
                });
            </script>
        </td>
        <td style = "cursor:pointer;" id="{{ account.id }}" name="{{ account.id }}" data-bs-toggle="account_id" data-placement="right" title="입력란 복사">
            {{ account.id }}
            <!-- 입력란 복사 script-->
            <script>
                $(function () {
                    $('[data-bs-toggle="account_id"]').tooltip()
                    $('[data-bs-toggle="account_url"]').tooltip()
                })

                $('#{{ account.id }}').click(function(){
                    $("#i_account_requestor").val('{{ account.account_requestor }}');
                    $("#i_account_devteam").val('{{ account.account_devteam }}');
                    $("#i_account_svr").val('{{ account.account_svr }}');
                    $("#i_account_user").val('{{ account.account_user }}');
                    $("#i_account_host").val('{{ account.account_host }}');
                    $("#i_account_pass").val('{{ account.account_pass }}');
                    $("#i_account_info").val('{{ account.account_info }}');
                    $("#i_account_url").val('{{ account.account_url }}');
                    $("#i_account_db").val('{{ account.account_db }}');
                    $("#i_account_table").val('{{ account.account_table }}');
                    $("#i_account_grant").val('{{ account.account_grant }}');
                    $("#i_account_grant_with").val('{{ account.account_grant_with }}');

                    // 선택 옵션 숨기기 위함
                    $("#i_account_grant").show();
                    $("#i_account_grant_direct").val('');
                    $("#i_account_grant_direct").hide();

                    // 권한 선택 옵션에 없는 값일 경우. 수동입력 권한일 경우
                    if(!$("#i_account_grant").val()){
                        $("#i_account_grant_direct").show();
                        $("#i_account_grant_direct").val('{{ account.account_grant }}');
                        $("#i_account_grant_direct").attr("disabled",false);
                        $("#i_account_grant").hide();
                    }
                });
            </script>
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_create_dt|date:'Y/m/d H:i:s' }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_requestor }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_devteam }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_svr }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_user }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_host }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_grant }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_db }}
        </td>
        <td style = "cursor:pointer;" data-bs-toggle="modal" data-bs-target="#myModal"
            data-id="{{ account.id }}"
            data-account_create_dt="{{ account.account_create_dt|date:'Y/m/d H:i:s' }}"
            data-account_update_dt="{{ account.account_update_dt|date:'Y/m/d H:i:s' }}"
            data-account_end_dt="{{ account.account_end_dt|date:'Y/m/d H:i:s' }}"
            data-account_requestor="{{ account.account_requestor }}"
            data-account_svr="{{ account.account_svr }}"
            data-account_user="{{ account.account_user }}"
            data-account_devteam="{{ account.account_devteam}}"
            data-account_host="{{ account.account_host }}"
            data-account_pass="{{ account.account_pass }}"
            data-account_hash="{{ account.account_hash }}"
            data-account_grant="{{ account.account_grant }}"
            data-account_grant_with="{{ account.account_grant_with }}"
            data-account_db="{{ account.account_db }}"
            data-account_table="{{ account.account_table }}"
            data-account_info="{{ account.account_info}}"
            data-account_sql="{{ account.account_sql }}"
            data-account_url="{{ account.account_url }}"
            data-account_note="{{ account.account_note }}"
            data-account_del_yn="{{ account.account_del_yn }}"
            data-account_del_dt="{{ account.account_del_dt|date:'Y/m/d H:i:s' }}"
            data-account_del_reason="{{ account.account_del_reason }}"
            data-account_del_note="{{ account.account_del_note }}">
            {{ account.account_table }}
        </td>
        <td style = "cursor:pointer;" id="{{ account.account_url }}" name="{{ account.account_url }}" data-bs-toggle="account_url" data-placement="right" title="URL 이동" onClick="window.open('https://kakaovx.atlassian.net/browse/{{ account.account_url}}')">
            {{ account.account_url }}
        </td>

    </tr>
    {% endfor %}
</table>
{% endif %}

<div>
    {% if page_max is none %}
    <input id="page_max" name="page_max" type="hidden" value="1">
    {% else %}
    <input id="page_max" name="page_max" type="hidden" value="{{ page_max }}">
    {% endif %}
</div>

<input class="form-control form-control-sm" id="alert_type" name="alert_type" value="{{ alert_type }}" type="hidden">

<!-- account_sql 리스트 확인하기 -->
<input class="form-control form-control-sm" id="account_sql_flag" name="account_sql_flag" value="{{ account_sql_flag }}" type="hidden">
<input class="form-control form-control-sm" id="account_sql_list" name="account_sql_list" value="{{ account_sql_list.account_sql }}" type="hidden">

<!-- Modal Multi Select SQL(모달) -->
{% if account_sql_flag == 'true' %}
<div class="modal fade"  id="myModal_sql" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li>
                        <a class="nav-link active btn-outline-dark" href="#selectTab" aria-controls="selectTab" role="tab" aria-selected="true" data-bs-toggle="tab">
                            ACCOUNT_SQL
                        </a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div role="tabpanel">
                    <div class="tab-content">
                        <div class="card card-body mt-0 bg-light callout callout-dark mb-2">
                            <table class="w-100">
                                <tr>
                                    <td>
                                        <a>- 계정 생성 SQL 확인창입니다.</a>
                                        <br><a>- 향후 5.7, 8.0 계정 생성 정책에 맞는 추가 작업 예정입니다.</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table class="table table-sm" style="table-layout: fixed">
                            <tr>
                                <td class="" id="sql_account_sql" name="sql_account_sql" style="font-size: 11.5px">
                                    <a>
                                        {% for account_sql_list in account_sql_lists %}
                                        /*{{ account_sql_list.id }}*/ {{ account_sql_list.account_sql}}
                                    </a>
                                    <hr class="mt-1 mb-1">
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <!--
                            <button class="btn btn-sm btn-outline-primary">전체복사</button>
                            -->
                            <button class="btn btn-sm btn-outline-danger" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}

<!-- account_sql 다중계정 생성 구문 확인 script-->
<script>
    $('#account_sql_flag').load('dummy',function(){
        $('#myModal_sql').modal("hide");
        var account_sql_flag = $("#account_sql_flag").val();
        if ( account_sql_flag == 'true' ){ // if true
            $('#myModal_sql').modal("show");
        }
    });
</script>

<!-- myModal_sql show/hide event -->
<script>
$('#myModal_sql').on('show.bs.modal', function (event) {
    $('html').css({'overflow': 'hidden', 'height': '100%'}); // 모달팝업 중 html,body의 scroll을 hidden시킴
    $('#element').on('scroll touchmove mousewheel', function(event) { // 터치무브와 마우스휠 스크롤 방지
        event.preventDefault();
        event.stopPropagation();
        return false;
    });
})

$('#myModal_sql').on('hidden.bs.modal', function (event) {
    $('html').css({'overflow': 'auto', 'height': '100%'}); //scroll hidden 해제
    $('#element').off('scroll touchmove mousewheel'); // 터치무브 및 마우스휠 스크롤 가능
})
</script>
</body>
</html>