<!-- 데이터주기관리 메뉴-->
<nav class="navbar navbar-expand-lg bg-light" style="height: 30px;">
    <ul class="navbar-nav px-2">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">데이터백업</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">빈로그백업</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">데이터이관</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">데이터삭제</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">스토리지용량추이</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">스토리지용량비교</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">테이블용량추이</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'data_life_cycle:data_life_cycle' %}">테이블용량비교</a>
    </li>
    </ul>
</nav>