{% extends 'base.html' %}
{% block content %}
<hr>
<form class="container text-center" onsubmit="return false;" name="insertForm">
    {% csrf_token %}
    <a>메모장 사용법: URL -> ip:port/memo/원하는숫자 입력</a>
    {% if dba_board %}
    {% for board in dba_board %}
    <input class="form-control form-control-sm" id="memo_id" name="memo_id" value="{{ board.id }}" type="hidden">
    <textarea class="form-control mb-3" id="memo_textarea" name="memo_textarea" rows="25" value="{{ board.board_content }}">{{ board.board_content }}</textarea>
    {% endfor %}
    {% endif %}
    <button class="btn btn-secondary" onclick="updateBox()" type="submit">갱신</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <input class="btn btn-secondary" type="button" value="초기화" onClick="updateBox_del()">
</form>

<div class="board small" id="memo_ajax" style="font-size: 12px;"></div>

<!-- 메모 저장 ajax script -->
<script>
    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');

    function updateBox() {
        update_callMoreListAjax();
    }
    
    function updateBox_del() {
        var retVal = confirm("모두 지우시겠습니까?");
        if (retVal == true ){
            $("#memo_textarea").val('');
        }
    }
    
    function update_callMoreListAjax() {
        var memo_id = $("#memo_id").val();
        var memo_textarea = $("#memo_textarea").val();
        
        $.ajax( {
            type : 'POST',
            url: '{% url "memo:memo_insert" %}',
            data: {
                'memo_id': memo_id,
                'memo_textarea': memo_textarea,
                'csrfmiddlewaretoken': token,
            },
            success: addMoreMemoAjax,
            dataType: 'html'
        });
    }
</script>

<!-- common ajax script -->
<script>
    function addMoreMemoAjax(data, textStatus, jqXHR) {
        $('#memo_ajax').html(data);
    }
</script>

{% endblock %}